<nav>
  <a href="{{ '/index.html' | relative_url }}">Home</a>
  <a href="{{ '/drawings./' | relative_url }}">Drawings</a>
  <a href="{{ '/permits/' | relative_url }}">Permits & Approvals</a>
  <a href="{{ '/schedule/' | relative_url }}">Schedule</a>
  <a href="{{ '/progress-reports/' | relative_url }}">Progress Reports</a>
  <a href="{{ '/contacts/' | relative_url }}">Key Contacts</a>
  <a href="https://github.com/drinkcoff/hotel-construction-project/issues" target="_blank">Issues Tracker</a>
</nav>